.profile{
    background: rgba(170, 225, 243, 0.5);
}

.book-cover{
    height: 15rem;
    width: 9rem;
    padding: 0;
}

.profile-element{
    margin: 0;   
}

.container{
    height:90%;   
}

.results-text{
    margin: 0;
    padding: 0;
}

.review{
    padding-left:0;
    padding-right:0;
}