{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">My Reviews</h1>
    <div>
       {% for myreviews in myreviews %}
        <div class="col-sm-12 col-md-3 card">
            <img src="{{ myreviews.cover }}" alt="Book Cover" height="250rem" width="100%">
            <div class="mx-auto">
                <h4 class="text-center card-text">{{ myreviews.title }}</h4>
                <h5 class="text-center card-text">{{ myreviews.author }}</h5>
                <p class="mx-auto card-text">Review by: {{ myreviews.user }} </p>
                <p class="mx-auto card-text">Created: {{ myreviews.creation_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}