{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">Reviews</h1>
   
    <br>
    
    {% for review in reviews %}
        <div class="mt-2 profile">
            <div class="d-block">
                <div class="col-sm-12  mt-3 mb-3 d-flex review" >
                    <img src="{{ review.cover }}" alt="Book Cover" class="col-sm-12 col-md-3 book-cover ">
                    <div class="d-flex">
                        <div class="">
                            <h4 class="result-text">{{ review.title }}</h4>
                            <h5 class="result-text">{{ review.author }}</h5>
                            <span class="result-text">Review by: {{ review.user }} </span>
                            <p class="result-text">Created: {{ review.creation_date }}</p>
                            <p class="result-text">Last Modified: {{ review.last_mod }}</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="d-block col-sm-12">
                <cite class="result-text my-auto text-center">{{ review.review }}</cite>
                <br>
            </div>
        </div> 
    {% endfor %}

{% endblock %}