{% extends "base.html" %}
{% block content %}

    <!-- Reviews Component  -->
    <h1 class="text-center">Reviews</h1>
    <br>
    {% for review in reviews %}

        <!-- container for each review  -->
        <div class="mt-2 profile card">
            <div class="d-block">

                <!-- Book cover and details container  -->
                <div class="col-sm-12 col-md-5 mt-3 mb-3 d-flex review">
                    <img src="{{ review.cover }}" alt="Book Cover" class="col-sm-4 col-md-4 book-cover ">
                    
                    <!-- Review Details  -->
                    <div class="d-flex">
                        <div class="">
                            <h4 class="result-text">{{ review.title }}</h4>
                            <h5 class="result-text">{{ review.author }}</h5>
                            <span class="result-text">Review by: {{ review.user }} </span>
                            <p class="result-text">Created: {{ review.creation_date }}</p>
                            <p class="result-text">Last Modified: {{ review.last_mod }}</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <!-- Review Description  -->
            <div class="d-block col-sm-12">
                <cite class="result-text my-auto text-center">{{ review.review }}</cite>
                <br>
            </div>
        </div> 
    {% endfor %}
{% endblock %}